body {
    background: linear-gradient(to top, darkblue, goldenrod);
}

.Titulo_h1 {
    text-align: center;
    color: #1e293b;
    font-weight: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Div_principal {
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-bottom: 18.19%;
    background-color:lightslategrey;
    height: 460px;
    border-color: #1e293b;
}

#Pantalla {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 65px;
    background-color:yellowgreen;
    font-size: 50px;
    text-align: right;
    color: #556b2f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.Eliminar1{
    background-color: brown;
    color: #FFFFFF;
    margin-right: 5px;
}
.Eliminar2{
    background-color: brown;
    color: #FFFFFF;
    margin-right: 5px;
}
.Borrar{
    background-color: darkcyan;
    color: #FFFFFF;
    margin-right: 5px;
}
.Dividir{
    background-color: darkcyan;
    color: #FFFFFF;
}
.Siete{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Ocho{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Nueve{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Multiplicar{
    background-color: darkcyan;
    color: #FFFFFF;
}
.Cuatro{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Cinco{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Seis{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Restar{
    background-color: darkcyan;
    color: #FFFFFF;
}
.Uno{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Dos{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Tres{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Sumar{
    background-color: darkcyan;
    color: #FFFFFF;
}
.Porcentaje{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Cero{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Punto{
    background-color: gray;
    color: #FFFFFF;
    margin-right: 5px;
}
.Calcular{
    background-color:brown;
    color: #FFFFFF;
}
.Div_caja1{
    margin-left: 45px;
}
.Div_caja2{
    margin-left: 45px;
}
.Div_caja3{
    margin-left: 45px;
}
.Div_caja4{
    margin-left: 45px;
}
.Div_caja5{
    margin-left: 45px;
    margin-bottom: 25px;
}
button {
    width: 50px;
    height: 50px;
    border-color: #1e293b;
    justify-content: center;
    margin-left: 50px;
}

button:hover {
    background-color: #d3d3d3;
    color: #000000;
    transform: translateY(-2px);
}


button:active {
    transform: translateY(0);
}
